@charset "utf-8";body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr,span{margin:0;padding:0;}
body{font-size:12px;font-family: "Microsoft YaHei" !important;color:#000000;background:#ebebed;margin:0 auto;padding:0px;}
*{margin:0;padding:0;font-family: "Microsoft YaHei"}
input[type="text"],input[type="password"]{outline:none;}
input[type="button"], input[type="submit"], input[type="reset"] {  -webkit-appearance: none;  }  

a{text-decoration:none;color:#303132;outline:none;}
a:active{star:expression(this.onFocus=this.blur());}
img{border:0px;vertical-align: middle;}
ul,li{list-style: none;}
.pt10 {padding-top:10px;}
.pl10 {padding-left:10px;}
.pr10 {padding-right:10px;}
.pb10 {padding-bottom:10px;}
.pn5 {padding:5px;}
.pt5 {padding-top:5px;}
.pl5 {padding-left:5px;}
.pr5 {padding-right:5px;}
.pb5 {padding-bottom:5px;}
.mt10 {margin-top:10px;}
.mt20{margin-top: 20px;}
.mt30 {margin-top:30px;}
.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mb10 {margin-bottom:10px;}
.mn5 {margin:5px;}
.mt5 {margin-top:5px;}
.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.mb5 {margin-bottom:5px;}
.w1000 {width:1000px;margin:0 auto;}
.clear{clear:both;}
input{ outline:none;}
.loginbg {width:100%;background:url(../images/loginbg.jpg) no-repeat center 0;min-width:1000px;}
.main {width:100%;min-width:1000px;overflow:hidden;}
.loginbg .w1000{position:relative;height:100%;}
.loginbg .logo {width:228px;height:98px;float:left;margin-top:20px;}
.loginbg .logo img {width:228px;height:98px;float:left;}
.login {width:350px;position:absolute;background:#fff;z-index:101;right:2%;top:26%;border-top:3px solid #50286e;box-shadow:0px 0px 5px rgba(3,92,175,0.26);padding:15px 0;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.login li {width:90%;height:50px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-bottom:1px solid #ebebeb;margin:0 auto;}
.login_bg{position:absolute;width:350px;height:285px;z-index:100;right:2%;top:26%;background:#7F5DE1;opacity:0.3;}
.login li i {width:17px;height:19px;margin-left:3%;float:left;margin-top:22px;background-image:url(../images/iconlogin.png);}
.login li i.iconloginuser {background-position:0px 0px;}
.login li i.iconloginpw {background-position:0px -19px;}
.login li i.iconloginyzm {background-position:0px -38px;}
.login li input.login_text {width:90%;height:40px;background:none;line-height:40px;border:0 none;margin-top:10px;float:left;font-size:14px;text-indent:22px;}
.login li input.login_yzm {width:90%;height:40px;line-height:40px;margin-top:16px;border:0 none;float:left;font-size:14px;text-indent:22px;}
.login li input#checkcode{margin-top:16px;height:40px;line-height:40px;border:0 none;font-size:14px;text-indent:22px;}
.login li img#codeimg {height:40px;float:left;margin-top:16px;}
.login li.alj {font-size:14px;color:#ebebeb;height:40px;border:none;margin-top:10px;}
.login .alj a.zczh {height:40px;line-height:40px;float:left;font-size:14px;color:#50286e;}
.login .alj  a.wjmm {height:40px;line-height:40px;float:right;font-size:14px;color:#666666;}
.login input.input_dlbtn {width:100%;height:45px;line-height:45px;background:#703171;text-align:center;float:left;font-size:18px;color:#ffffff;border:0 none;cursor:pointer;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.lyoushi {width:100%;min-width:100px;height:166px;}
.lyoushi li {width:332px;display:inline-block;height:76px;margin-top:44px;float:left;}
.lyoushi li i {width:51px;float:left;background-image:url(../images/iconyoushi.png);margin-left:47px;margin-top:16px;margin-right:16px;}
.lyoushi li i.iconlyoushi1 {height:44px;background-position:0px 0px;}
.lyoushi li i.iconlyoushi2 {height:44px;background-position:0px -44px;}
.lyoushi li i.iconlyoushi3 {height:46px;background-position:0px -88px;}
.lyoushi li.line {width:1px;height:76px;display:inline-block;background:#ebebeb;float:left;}
.lyoushi li span {width:180px;float:left;font-size:20px;color:#303132;line-height:28px;margin-top:16px;}
.lyoushi li p {width:190px;float:left;font-size:14px;color:#303132;line-height:21px;}
.footer {width:100%;min-width:1000px;background:#303132;height:135px;}
.footer .hzhb {width:100%;height:56px;float:left;margin-top:10px;margin-bottom:12px;}
.footer .hzhb img {width:100%;height:56px;float:left;}
.footer .copyright {width:100%;height:42px;line-height:42px;border-top:1px solid #595a5b;float:left;text-align:left;font-size:12px;color:#ffffff;}
.footer .copyright span {float:right;height:42px;line-height:42px;padding-left:22px;background:url(../images/zyth.png) no-repeat left center;}
.header {width:100%;min-width:1000px;height:86px;}
.header .logo {width:149px;height:56px;float:left;margin-top:14px;margin-left:7px;}
.header .logo img {width:149px;height:56px;float:left;}
.header .gg {width:302px;height:24px;line-height:24px;background:url(../images/ggbg.png) no-repeat 0 0;margin-top:18px;float:right;text-indent:35px;font-size:12px;color:#303132;}
.header .user {height:20px;line-height:20px;float:right;font-size:12px;color:#303132;margin-top:9px;margin-left:320px;}
.header .user span {height:20px;line-height:20px;float:left;padding:2px 10px;}
.header .user span i {color:#ff0000;font-style:normal;}
.header .user a {width:auto;padding:2px 8px;height:20px;line-height:20px;border-radius:3px;background:#009bff;font-size:12px;color:#ffffff;text-align:center;float:left;margin-left:10px;position:relative;}
.header .user a i{font-style:normal;position:absolute;right:-10px;top:-10px;display:block;padding:0 7px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;background:red;color:white;}
.nav {width:100%;min-width:1000px;height:50px;background:url(../images/navbg.jpg) no-repeat center 0;}
.nav li {width:138px;height:50px;float:left;margin-right:4px;}
.nav li a {width:100%;height:50px;float:left;display:block;}
.nav li i {width:26px;height:26px;float:left;margin-top:11px;margin-left:19px;background-image:url(../images/navicon.png);margin-right:10px;}
.nav li i.navicon1 {background-position:0px -0px;}
.nav li i.navicon2 {background-position:0px -26px;}
.nav li i.navicon3 {background-position:0px -52px;}
.nav li i.navicon4 {background-position:0px -78px;}
.nav li i.navicon5 {background-position:0px -104px;}
.nav li i.navicon6 {background-position:0px -130px;}
.nav li i.navicon7 {background-position:0px -156px;}
.nav li span.cn {width:75px;height:auto;float:left;font-size:14px;color:#ffffff;line-height:16px;margin-top:8px;}
.nav li span.en {width:75px;height:auto;float:left;font-size:12px;color:#ffffff;text-transform:uppercase;line-height:14px;}
.nav li.current {background:#492044;}
.nav li:hover {background:#ff8e00;}
.nav li .snav {width:625px;height:0;float:left;background:rgba(56,24,53,0.92);position:relative;z-index:99;padding-left:40px;overflow:hidden;}
.nav li:hover .snav {height:166px;}
.nav li .snav dl {width:125px;height:auto;float:left;margin-top:14px;}
.nav li .snav dt {width:100%;height:auto;float:left;}
.nav li .snav dt a {width:100%;height:auto;float:left;font-size:14px;color:#e6d107;line-height:23px;}
.nav li .snav dd {width:100%;height:auto;float:left;}
.nav li .snav dd a {width:100%;height:auto;float:left;font-size:14px;color:#f3d3ef;line-height:23px;}
.nav li .snav dl.first {width:238px;height:auto;float:left;}
.nav li .snav dl.first dt {width:100%;height:auto;float:left;}
.nav li .snav dl.first dt a {width:100%;height:auto;float:left;font-size:14px;color:#e6d107;line-height:23px;}
.nav li .snav dl.first dd {width:98px;height:auto;float:left;}
.nav li .snav dl.first dd a {width:100%;height:auto;float:left;font-size:14px;color:#f3d3ef;line-height:23px;}
.nav li .snav2 {width:334px;height:0;float:left;background:rgba(56,24,53,0.92);position:relative;z-index:99;padding-left:25px;overflow:hidden;}
.nav li:hover .snav2 {height:166px;}
.nav li .snav2 a {width:131px;height:124px;margin-top:16px;margin-right:22px;}
.nav li .snav2 a img {width:131px;height:124px;}
.nav li .snav3 {width:375px;height:0;float:left;background:rgba(56,24,53,0.92);position:relative;z-index:99;padding-left:10px;overflow:hidden;}
.nav li:hover .snav3 {height:166px;}
.nav li .snav3 a {width:170px;height:127px;margin-top:16px;margin-right:9px;}
.nav li .snav3 a img {width:170px;height:127px;}
.nav li .ssnav {width:100%;height:0;float:left;background:rgba(255,142,0,0.92);position:relative;z-index:99;overflow:hidden;}
.nav li:hover .ssnav {height:152px;}
.nav li .ssnav .h14 {width:100%;height:14px;}
.nav li .ssnav a {font-size:14px;color:#f3d3ef;height:30px;text-align:center;line-height:30px;display:inline-block;width:100%;}
.nav li .ssnav a:hover {background:rgba(255,142,0,1);}

.banner {width:100%;height:300px;float:left; margin-top: 15px;}
.fullSlide {min-width:1000px;position:relative;height:300px;overflow:hidden;}
.fullSlide .bd {position:relative;z-index:0;}
.fullSlide .bd ul {width:100% !important;}
.fullSlide .bd li {width:100% !important;height:300px;}
.fullSlide .bd li .siteWidth {width:1000px;position:relative;margin:0 auto;height:300px;}
.fullSlide .bd li a {position:absolute;width:100%;height:300px;display:block;z-index:1;}
.fullSlide .hd {width:100%;position:absolute;z-index:1;bottom:10px;left:0;text-align:center;}
.fullSlide .hd ul {display:inline-block;text-align:center;background:#ffffff;border-radius:10px;padding:0 7px;}
.fullSlide .hd ul li {cursor:pointer;display:inline-block;*display:inline;zoom:1;width:12px;height:12px;margin:4px 2px;background:#a5a5a5;overflow:hidden;line-height:9999px;border-radius:6px;}
.fullSlide .hd ul .on {background:#009bff;}
.gameone {width:570px;height:auto;float:left;background:#ffffff;padding:20px 10px 10px 20px;margin-top:15px;}
.gameone li {width:180px;height:140px;float:left;position:relative;margin-right:10px;margin-bottom:10px;}
.gameone li img {width:180px;height:140px;float:left;}
.gameone li i {width:54px;height:54px;float:left;background:url(../images/gamehot.png) no-repeat 0 0;position:absolute;left:0;top:0;}
.gameone li .zz {width:180px;height:140px;float:left;background:rgba(0,0,0,0.5);position:absolute;left:0;top:0;display:none;}
.huodong {width:345px;height:auto;float:right;background:#ffffff;padding:20px 20px 0 20px;margin-top:15px;}
.huodong .picbox {width:345px;height:140px;float:left;}
.huodong .picbox img {width:345px;height:140px;float:left;}
.huodong ul {width:100%;height:313px;float:left;margin-top:7px;}
.huodong ul li {width:100%;height:auto;float:left;}
.huodong ul li a {width:100%;height:31px;line-height:31px;float:left;font-size:14px;color:#666666;}
.huodong ul li span {float:right;}
.gametwo {width:100%;height:auto;margin-top:15px;float:left;}
.gametwo li {width:163px;height:265px;float:left;padding-left:38px;padding-right:37px;margin-right:15px;background:#ffffff;}
.gametwo li.last {margin-right:0px;}
.gametwo li img {width:163px;height:205px;float:left;}
.gametwo li span {width:100%;height:35px;line-height:35px;text-align:center;background:#703171;color:#ffffff;font-size:14px;color:#ffffff;float:left;}
.youshi {width:100%;min-width:100px;height:118px;float:left;background:#ffffff;margin-top:15px;margin-bottom:46px;}
.youshi li {width:332px;display:inline-block;height:76px;margin-top:21px;float:left;}
.youshi li i {width:51px;float:left;background-image:url(../images/iconyoushi.png);margin-left:47px;margin-top:16px;margin-right:16px;}
.youshi li i.iconlyoushi1 {height:44px;background-position:0px 0px;}
.youshi li i.iconlyoushi2 {height:44px;background-position:0px -44px;}
.youshi li i.iconlyoushi3 {height:46px;background-position:0px -88px;}
.youshi li.line {width:1px;height:76px;display:inline-block;background:#ebebeb;float:left;}
.youshi li span {width:180px;float:left;font-size:20px;color:#303132;line-height:28px;margin-top:16px;}
.youshi li p {width:190px;float:left;font-size:14px;color:#303132;line-height:21px;}
.888888 {width:auto;height:auto;float:left;}

.banner_cz{width: 1000px; margin:20px auto 0; min-width: 1000px;overflow: hidden;height: 250px;background: url(../images/banner_cz.jpg) no-repeat center center;}
.banner_cz a.czzx{background:rgb(3,92,175) url(../images/gamejt.png) no-repeat 186px center ;display: block;width: 253px;height: 80px;margin-top: 85px; margin-left: 30px;}
.banner_cz a.czzx span.tit,.banner_cz a.czzx span.en{color: #fff;margin-left: 36px;}
.banner_cz a.czzx span.tit{width:100%;height:24px;line-height: 24px;font-size: 20px;float:left;margin-top: 22px;}
.banner_cz a.czzx span.en{width:100%;height:14px;line-height: 14px;font-size: 12px;float:left;margin-bottom: 19px;}

.page {height:35px; line-height:35px; width:100%; text-align:center; color: #ff0000; padding:35px 0 58px 0;}
.page span {padding:3px 10px 3px 10px; background-color:#035caf; color:#fff; border:solid 1px #035caf; font-size:13px; }
.page a{ color:#999; border:1px solid #e4e4e4;padding:3px 10px 3px 10px; margin:0 4px; text-decoration:none; background-color:#e4e4e4;  font-size:13px; }
.page a:hover {color:#fff; background-color:#035caf; border:1px solid #035caf;}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " ";
    clear: both; height: 0; }
.clearfix{*zoom:1;}