.tzfa ul li.first .ddh{width:150px;height:40px;float:left;margin-left: 22px;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}
.tzfa ul li.first .xdsj{width:150px;height:40px;float:left;margin-left: 41px;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}
.tzfa ul li.first .wf{width:160px;height:40px;float:left;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}
.tzfa ul li.first .qh{width:78px;height:40px;float:left;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}
.tzfa ul li.first .tzje{width:109px;height:40px;float:left;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}
.tzfa ul li.first .jj{width:82px;height:40px;float:left;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}
.tzfa ul li.first .zt{width:82px;height:40px;float:left;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}
.tzfa ul li.first .qxxz{width:79px;height:40px;float:left;text-align: center;line-height: 40px;color: #3e7ccd;font-size: 14px;}

.tzfa ul li .ddh{width:150px;height:40px;float:left;margin-left: 22px;text-align: center;line-height: 40px;color: #666666;font-size: 12px;}
.tzfa ul li .xdsj{width:150px;height:40px;float:left;margin-left: 41px;text-align: center;line-height: 40px;color: #666666;font-size: 12px;}
.tzfa ul li .wf{width:160px;height:40px;float:left;text-align: center;line-height: 40px;color: #666666;font-size: 12px;}
.tzfa ul li .wf:hover{color: #3e7ccd;}
.tzfa ul li .qh{width:78px;height:40px;float:left;text-align: center;line-height: 40px;color: #666666;font-size: 12px; white-space: nowrap;}
.tzfa ul li .tzje{width:109px;height:40px;float:left;text-align: center;line-height: 40px;color: #666666;font-size: 12px;}
.tzfa ul li .jj{width:82px;height:40px;float:left;text-align: center;line-height: 40px;color: #666666;font-size: 12px;}
.tzfa ul li .zt{width:82px;height:40px;float:left;text-align: center;line-height: 40px;color: #666666;font-size: 12px;}
.tzfa ul li .qxxz{width:79px;height:40px;float:left;text-align: center;line-height: 40px;color: #666666;font-size: 12px;}
.tzfa ul li .qxxz span{cursor: pointer;}